/Src/Tool_Maanagement.CNC_Transfer/obj
/Src/Tool_Maanagement.CNC_Transfer/bin
/Src/Tool_Management.DataAccess/obj
/Src/Tool_Management.DataAccess/bin
/Src/Tool_Management.Service/obj
/Src/Tool_Management.Service/bin
/Src/Tool_Management.Web/obj
/Src/Tool_Management.Web/bin
