@using Kendo.Mvc.UI;
@model Tool_Management.Service.ViewModels.vKnifeListViewModel
@{
    ViewBag.Title = "生產計劃";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="block">
        <div class="title">刀具裝配</div>
    </div>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <div class="container-fluid">

        <div class="form-horizontal" id="queryForm">
            @Html.AntiForgeryToken()

            <div class="block">
                <div class="row">
                    @Html.LabelFor(m => m.Model_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Model_ID, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Model_ID) })
                        <p class="help-block">
                        </p>
                    </div>

                </div>
            </div>

            <div class="container-button text-center">
                <button class="btn btn-primary" id="btnQuery" data-loading-text="查詢">查詢</button>
            </div>
            <p>&nbsp;</p>
            <hr>
            <p>&nbsp;</p>
            <div class="block">
                <div class="sub_tit">
                    查詢結果
                </div>
                <p>&nbsp;</p>

                <section class="section-grid">
                    @(Html.Kendo().Grid<Tool_Management.Service.ViewModels.vKnifeListViewModel>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                        columns.Bound(c => c.KnifeList_ID)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(150);
                        columns.Bound(c => c.Model_ID)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.Model_Name)
                    .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.Good_Name)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.WorkStation_No)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.KnifeList_Create_DT)
                        .Format("{0:yyyy/MM/dd HH:mm:ss}")
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.KnifeList_Create_Name)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.KnifeList_Modify_DT)
                        .Format("{0:yyyy/MM/dd HH:mm:ss}")
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Bound(c => c.KnifeList_Modify_Name)
                        .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                        columns.Template(@<text></text>)
                            .Width(120)
                            .HtmlAttributes(new { @class = "gridCell-center" })
                            .ClientTemplate(Html.ActionLink("刀具配置", "ATCSetup", "KnifeList",
                            new { KnifeList_ID = "#=KnifeList_ID#" }, new { @class = "btn btn-default" }).ToHtmlString())
                            .Title("");
                            columns.Command(command =>
                            {
                                command.Edit().Text("修改").UpdateText("確認").CancelText("取消");
                                command.Destroy().Text("刪除");
                            }).Width(250);
                        })
                        .ToolBar(toolbar => toolbar.Create().Text("新增"))
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SectionTemplate")
                            .Window(w =>
                            {
                                w.Title("生產計劃");
                                w.Events(e => {  e.Activate("onDeactivate");  });
                            })
                          )
                        .Resizable(r=>r.Columns(true))
                        .Scrollable(scrollable => scrollable.Height("auto"))
                        .Sortable()
                        .NoRecords("查無資料")
                        .Pageable(
                            pageable => pageable.Refresh(true)
                            .PageSizes(new[] { 10 })
                            .Messages(m =>
                            {
                                m.Empty("查無資料");
                                m.ItemsPerPage("每頁筆數");
                                m.Display("{0} - {1} 共 {2} 筆");
                            })
                        )
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(s => { s.Add(o => o.KnifeList_ID).Descending(); })
                            //.Events(events => events.Error("error_handler"))
                            .Model(model => { model.Id(p => p.KnifeList_ID); })
                            .Read(read => read.Action("GridSearch", "KnifeList"))
                            .Create(update => update.Action("EditingPopup_Create", "KnifeList"))
                            .Update(update => update.Action("EditingPopup_Update", "KnifeList"))
                            .Destroy(update => update.Action("EditingPopup_Delete", "KnifeList"))
                        .PageSize(10)
                        )
                    )

                </section>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        $("#btnQuery").click(function (e) {
            e.preventDefault();
            debugger;
            console.log('Query it!');

            var $this = $(this);
            //_trim("updateForm");

            var gridView = $("#grid").data("kendoGrid");
            if (gridView != null) {
                var model_id = $("#Model_ID").val();

                var filterData = [];

                if (model_id != "") {
                    filterData.push({ "field": "model_id", "operator": "contains", "value": model_id });
                }

                gridView.dataSource.query({
                    filter: filterData,
                    sort: {
                        field: "KnifeList_ID",
                        dir: "desc"
                    },
                    page: 1,
                    pageSize: "10"
                });
            }
        });
    });

</script>
<script type="text/javascript">

    function onDeactivate(e) {
       

        //不秀建立時間
        $("label[for='KnifeList_ID']").hide();
        $("#KnifeList_ID").hide();
        $("label[for='KnifeList_Create_ID']").hide();
        $("#KnifeList_Create_ID").hide();
        $("label[for='KnifeList_Modify_ID']").hide();
        $("#KnifeList_Modify_ID").hide();
        $("label[for='KnifeList_Create_Name']").hide();
        $("#KnifeList_Create_Name").hide();
        $("label[for='KnifeList_Modify_Name']").hide();
        $("#KnifeList_Modify_Name").hide();
        $("label[for='Good_Name']").hide();
        $("#Good_Name").hide();
        $("label[for='Model_Name']").hide();
        $("#Model_Name").hide();
        $("label[for='KnifeList_Create_DT']").hide();
        $("label[for='KnifeList_Modify_DT']").hide();
        $(".k-datetimepicker").hide();
        $(".k-select").hide();

        $(".k-grid-update")[0].innerHTML = "確認";
        $(".k-grid-cancel")[0].innerHTML = "取消";

    }


</script>

