@using Kendo.Mvc.UI;
@model Tool_Management.Service.ViewModels.EmployeViewModel
@{
    ViewBag.Title = "人員維護";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="block">
        <div class="title">人員維護</div>
    </div>
    <p>&nbsp;</p>
    <hr>
    <p>&nbsp;</p>
    <div class="container-fluid">

        <div class="form-horizontal" id="queryForm">
            @Html.AntiForgeryToken()

            <div class="block">
                <div class="row">
                    @Html.LabelFor(m => m.Emp_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.Emp_ID, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Emp_ID) })
                        <p class="help-block">
                        </p>
                    </div>

                </div>
            </div>

            <div class="container-button text-center">
                <button class="btn btn-primary" id="btnQuery" data-loading-text="查詢">查詢</button>
            </div>
            <p>&nbsp;</p>
            <hr>
            <p>&nbsp;</p>
            <div class="block">
                <div class="sub_tit">
                    查詢結果
                </div>
                <p>&nbsp;</p>

                <section class="section-grid">
                    @(Html.Kendo().Grid<Tool_Management.Service.ViewModels.EmployeViewModel>()
                        .Name("grid")
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Emp_ID)
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(120);
                            columns.Bound(c => c.Emp_Name)
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(120);
                            columns.Bound(c => c.Emp_Status)
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                            columns.Bound(c => c.Emp_Create_ID)
                            .Format("{0:yyyy/MM/dd HH:mm:ss}")
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                            columns.Bound(c => c.Emp_Create_Name)
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                            columns.Bound(c => c.Emp_Modify_DT)
                            .Format("{0:yyyy/MM/dd HH:mm:ss}")
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);
                            columns.Bound(c => c.Emp_Modify_Name)
                            .HtmlAttributes(new { @class = "gridCell-center" }).Width(100);

                            columns.Command(command =>
                            {
                                command.Edit().Text("修改").UpdateText("確認").CancelText("取消");
                                //command.Destroy().Text("刪除");
                            }).Title("功能");
                        })
                        .ToolBar(toolbar => toolbar.Create().Text("新增"))
                        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SectionTemplate")
                            .Window(w =>
                            {
                                w.Title("人員維護");
                                w.Events(e => { e.Activate("onDeactivate"); });
                            })
                          )
                        .Resizable(r => r.Columns(true))
                        .Scrollable(scrollable => scrollable.Height("auto"))
                        .Sortable()
                        .NoRecords("查無資料")
                        .Pageable(
                            pageable => pageable.Refresh(true)
                            .PageSizes(new[] { 10 })
                            .Messages(m =>
                            {
                                m.Empty("查無資料");
                                m.ItemsPerPage("每頁筆數");
                                m.Display("{0} - {1} 共 {2} 筆");
                            })
                        )
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Sort(s => { s.Add(o => o.Emp_ID).Descending(); })
                            //.Events(events => events.Error("error_handler"))
                            .Model(model => { model.Id(p => p.Emp_ID); })
                            .Read(read => read.Action("GridSearch", "Employe"))
                            .Create(update => update.Action("EditingPopup_Create", "Employe"))
                            .Update(update => update.Action("EditingPopup_Update", "Employe"))
                        // .Destroy(update => update.Action("EditingPopup_Delete", "KnifeList"))
                        .PageSize(10)
                        )
                    )

                </section>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        $("#btnQuery").click(function (e) {
            e.preventDefault();
            debugger;
            console.log('Query it!');

            var $this = $(this);
            //_trim("updateForm");

            var gridView = $("#grid").data("kendoGrid");
            if (gridView != null) {
                var emp_id = $("#Emp_ID").val();

                var filterData = [];

                if (emp_id != "") {
                    filterData.push({ "field": "Emp_ID", "operator": "contains", "value": emp_id });
                }

                gridView.dataSource.query({
                    filter: filterData,
                    sort: {
                        field: "Emp_ID",
                        dir: "desc"
                    },
                    page: 1,
                    pageSize: "10"
                });
            }
        });
    });

</script>
<script type="text/javascript">

    function onDeactivate(e) {


        //不秀建立時間

        $("label[for='Emp_Create_ID']").hide();
        $("#Emp_Create_ID").hide();
        $("label[for='Emp_Modify_ID']").hide();
        $("#Emp_Modify_ID").hide();
        $("label[for='Emp_Create_Name']").hide();
        $("#Emp_Create_Name").hide();
        $("label[for='Emp_Modify_Name']").hide();
        $("#Emp_Modify_Name").hide();

        $("label[for='Emp_Create_DT']").hide();
        $("label[for='Emp_Modify_DT']").hide();
        $(".k-datetimepicker").hide();
        $(".k-select").hide();

        $(".k-grid-update")[0].innerHTML = "確認";
        $(".k-grid-cancel")[0].innerHTML = "取消";

    }


</script>

