<style>
    .msg-well .validation-summary-errors span {
        font-weight: bold;
    }
</style>

<div class="msg-well">    
    @if (TempData["actionMsg"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["actionMsg"]));
            alert(message);
        </script>


        TempData["actionMsg"] = null;
    }

    @if (ViewData.ModelState.IsValid == false)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(false, "錯誤訊息: ", new { @style = "color: red" })
        </div>
    }
</div>